
*{
    margin: 0;
    padding: 0;
}


body{
    background-image:url('hexagonal-background.avif');
    background-size: cover;
    background-position: cover;
    font-family: sans-serif;
}





.form_box{
    width: 500px;
    background: rgba(0,0,0,0.8);
    margin: 12% auto;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0,5);
}

.h1{
    text-align: center;
    margin-bottom: 40px;
}




.input_box{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}


.input_box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

::placeholder{
    color: #ccc;
}

.eye{
    position: absolute;

}

#hide1{
    display: none;
}

.send{
    margin: 50px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
    
}


.button_eye{
    background: transparent;
    border: 0px;
    color: #ccc;
    position: absolute;


}

.password-error{
    position: absolute;
    color: brown;
}